* {
  font-size: 1.3rem;
}

main {
  padding: .5rem 1rem;
}

a {
  color: #00acee !important;
}

.btn-twitter {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 25px;
  border: 3px solid #00acee;
}

#userpic-nav {
  border-radius: 50px;
  border: 1px solid black;
  width: 2.5rem;
  height: 2.5rem;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}